// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dropdown-menu.show {
  position: absolute !important;
  top: 2.5em !important;
  right: 0em !important;
}
